{% extends "base.html" %} {% block title %} Home {% endblock %}
{% block content %}

<style>
    .input-group input {
        text-align: right;
        max-width: 200px;
    }
</style>

<div class="container mt-5">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="col">
                        <div class="container">
                            <div class="row">
                                <h4>Cash</h4>

                            </div>
                        </div>
                        <p>Cash assets: ${{cash_amount}}</p>
                        <p>Cash spent: ${{total_spent}}</p>
                        <p>Total cash withdrawn: ${{total_cash_withdrawn}}</p>
                        <h4>Stocks</h4>
                        <p>Current stock assets: ${{stock_assets_value}}</p>
                        <p>Stock sold value: ${{stock_sold_value}}</p>
                        <p>Stock bought value: ${{stock_bought_value}}</p>
                        <h4>Net profits</h4>
                        <p>Net profit/loss: ${{net_profit_loss}}</p>
                        <p>Net profit/loss percent: %{{net_percent}}</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <form method="post" action="{% url 'investments' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="cash-insert">Add Cash</label>
                        <div class="input-group mb-3">
                            <div class="input-group-prepend">
                                <span class="input-group-text">$</span>
                            </div>
                            <input name="add_cash" type="text" class="form-control" maxlength="16">
                            <div class="input-group-append">
                                <span class="input-group-text">.00</span>
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-success">Add cash</button>
                            </div>
                        </div>
                    </div>
                </form>

                <form method="post" action="{% url 'investments' %}">
                    {% csrf_token %}
                    <div class="form-group">
                        <label for="ticker">Ticker Search</label>
                        <div class="form-row">
                            <div class="col">
                                <input type="text" class="form-control" name="search_ticker"
                                    placeholder="Enter ticker symbol">
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
                <h4>Owned stocks</h4>
                <table class="table">
                    <thead>
                        <tr>
                            <th scope="col">Ticker</th>
                            <th scope="col">Price</th>
                            <th scope="col">Total Value</th>
                            <!--<th scope="col">Daily Change</th>-->
                            <!--<th scope="col">Trend</th>-->
                        <tbody id="investments_display">
                        {% for investment in investments_display_data %}
                            <tr>
                                <th scope="row">{{investment.ticker}}</th>
                                <td>{{investment.price}}</td>
                                <td>{{investment.total_value}}</td>
                                <!--
                                <td>{{investment.daily_change_percentage}}</td>
                                <td>{% if investment.daily_change_percentage >= 0 %}
                                    <div class="triangle-up"></div>
                                    {% else %}
                                    <div class="triangle-down"></div>
                                    {% endif %}
                                </td>
                                -->
                            </tr>
                        {% endfor %}
                        </tr>
                    </thead>
            </div>
        </div>
    </div>
</div>


{% endblock %}