{% extends "base.html" %} {% block title %} Home {% endblock %}
{% block content %}

<div class="container mt-5">
    <div class="col">
        <div class="row">
            <div class="col">
                <div class="container">
                    <div class="col">
                        <p>Cash assets: ${{cash_amount}}</p>
                        <h4>Add or subtract cash</h4>
                        <p>Total cash withdrawn: ${{total_cash_withdrawn}}</p>
                        <p>Cash spent: ${{total_spent}}</p>
                        <p>Current stock assets: ${{stock_assets_value}}</p>
                        <p>Stock sold value: ${{stock_sold_value}}</p>
                        <p>Stock bought value: $!!!</p>
                        <h4>Net profits</h4>
                        <p>Net profit/loss: ${{net_profit_loss}}</p>
                        <p>% Net profit/loss: $!!!</p>
                    </div>
                </div>
            </div>
            <div class="col">
                <form method="post" action="{% url 'Investments'%}" >
                    {% csrf_token %}
                    <div class="form-group margin-right-5px">
                        <label for="ticker">Ticker Search</label>
                        <div class="form-row">  
                            <div class="col">                    
                                <input type="text" class="form-control" id="ticker" name="ticker" placeholder="Enter ticker symbol">
                            </div>
                            <div class="col">
                                <button type="submit" class="btn btn-primary">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
                <h4>Owned stocks</h4>
            </div>
        </div>
    </div>
</div>


{% endblock %}